
/*------------------------Scroll bar--------------------------*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {

}

::-webkit-scrollbar-thumb {
    background: #d9d9d7;

}

::-webkit-scrollbar-thumb:hover {
    background: #ffb400;
}
a:hover{     /*change mouse fourcus color to yellow in menu*/
    color: #ffb400;
    font-weight: bold;

}


.navbar-nav .nav-link {
    font-weight: bold;
    margin: 0 30px;
}

#mainCarPng{
    width: 550px;
    height: 350px;
    position: relative;
    left: 10px;
    top: 130px;
}

#mainClassDiv{
    position: absolute;
    left: 35%;
    bottom: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    /*color: white;*/
}

#mainClassDiv>h1:nth-child(1){  /*CAR RENTAL*/
    font-size: 150px;
    font-family: fantasy;
    opacity: 20%;
}

#mainClassDiv>h2:nth-child(2){  /*car rental*/
    font-size: 130px;
    font-family: sans-serif;
    position: relative;
    bottom: 110px;
}

#mainClassDiv>h3:nth-child(3) { /*HELPS YOU_____*/
     position: relative;
    top: -10%;
    color: #0055ff;
}

                    /*about us*/

main>section:nth-child(2) {
    position: relative;
    top: 45vh;
    display: flex;
    justify-content: center;
    gap: 100px;
}

main>section:nth-child(2)>div:nth-child(2){
    position: relative;
    top: 100px;

}

main>section:nth-child(2)>div:nth-child(2)>section {
    align-items: center;
    display: flex;
    gap: 10px;
}

main>section:nth-child(2)>div:nth-child(2)>section>aside {
    width: 300px;
    height: 150px;
    background: #d7d4d4;
    display: flex;
    align-items: center;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    transition: all 2s;

}

#OUR_SERVICE{
    font-family: fantasy;
    font-size: 60px;
    opacity: 20%;
    bottom: 20px;
    position: relative;

}

#our_servicee{
    font-family: sans-serif;
    font-size: 47px;
    position: relative;
    top: 20px;
    left: 25px;

}
